<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<div class="container-fluid">
		<header>
			<div class="row">
				<div class="col-md-4">
					<img class="imagen" alt="profeVega.jpg" src="/images/fiLogo.png">
				</div>
				<div class="col-md-4 text-center">
					<h1>Facultad de Ingeniería</h1>
				</div>
			</div>
		</header>
		<nav
			class="main-header navbar navbar-expand navbar d-flex justify-content-center py-3"
			style="background-color: #e3f2fd;">
			<ul class="navbar-nav">
				<li class="nav-item d-none d-sm-inline-block"><a
					class="nav-link">Inicio</a></li>
				<li class="nav-item d-none d-sm-inline-block"><a
					class="nav-link">Acerca de</a></li>
				<li class="nav-item d-none d-sm-inline-block"><a
					class="nav-link">Carreras</a></li>
				<li class="nav-item d-none d-sm-inline-block"><a
					class="nav-link">Noticias</a></li>
			</ul>
		</nav>
		<main>
			<section>
				<div class="text-center col-md-8">
					<p>La Universidad nace el 25 de mayo de 1972 como universidad
						provincial y al año siguiente se transforma en Universidad
						Nacional. Comienza a funcionar sobre la base de cuatro carreras:
						Ingeniería Agronómica, Ingeniería de Minas, Ingeniería Metalúrgica
						e Ingeniería Química. Su propósito fue apuntalar las actividades
						de explotación e industrialización de los recursos naturales de
						Jujuy. Las tres últimas carreras mencionadas pasan a constituir la
						actual Facultad de Ingeniería que, con el transcurso de los años,
						sumó a ellas un número importante de otras carreras. Las políticas
						de la Universidad Nacional de Jujuy, y especialmente de la
						Facultad de Ingeniería, tienden a ampliar el área de influencia y
						a fortalecer su acción institucional, en respuesta a la demanda
						social creciente de formación de recursos humanos que contribuyan
						al desarrollo científico, tecnológico y cultural. De esta forma,
						la Facultad se constituyó en vector de desarrollo de la provincia,
						por cuanto: Posibilita la prosecución de estudios superiores a los
						jóvenes egresados del nivel medio, facilitando a un número
						creciente de ellos la obtención de un título universitario, sin
						los inconvenientes del desarraigo que tradicionalmente debían
						afrontar al trasladarse a centros universitarios radicados en
						otras provincias. Por ende, aporta a la economía provincial al
						evitar la salida de recursos económicos asociados con la
						radicación de estudiantes en otras provincias. Posibilita acceder
						a títulos universitarios a jóvenes cuya situación económica les
						impide estudiar fuera de la provincia. Provee de profesionales de
						la Ingeniería a las industrias radicadas en la provincia y de
						profesionales competentes a las diversas reparticiones del estado
						provincial. Incorpora a la sociedad profesionales aptos para
						generar emprendimientos de distinta índole. Mantiene fluidas
						relaciones institucionales con el sector productivo, las ONG, el
						ámbito educativo y la administración pública provincial mediante
						prestaciones de servicios, el desarrollo de actividades de
						investigación científica y tecnológica, y la formación y
						capacitación de recursos humanos. A la vez, dentro de este marco,
						promueve sistemas de pasantías para sus docentes y alumnos. En la
						actualidad, las particularidades geopolíticas del área de
						influencia de la Facultad le otorgan una importante proyección
						internacional; proyección nacida tanto por el impacto regional
						producido por la globalización y en particular por los acuerdos
						suscriptos por nuestro país en el marco del Mercosur, como por la
						habilitación de nuevos pasos fronterizos en la provincia los
						cuales la integran regionalmente mediante el corredor bioceánico.
						Esta realidad permite que Jujuy pase de ser una provincia muy
						alejada de los puertos argentinos a otra que está sobre la línea
						de unión entre los puertos comerciales del norte de Chile con los
						de Brasil. Por ende, de disponer como única salida comercial el
						puerto de Buenos Aires a 1700 km, ahora está a tan sólo 700 km del
						de Antofagasta (Chile). Todo ello constituye a la vez una
						oportunidad y un desafío para la economía regional, y en
						consecuencia para la Facultad.</p>
				</div>
			</section>
		</main>
		<aside class="bg-primary d-flex flex-column flex-shrink-0 p-3">
					<a
						href="https://virtual.unju.edu.ar/course/index.php?categoryid=42"><p>Otras
							Materias de la carrera.</p></a>
					<p>Bibiotecas Digitales</p>
		</aside>
		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="https://www.unju.edu.ar/"
					class="nav-link px-2 text-body-secondary" target="blank">https://www.unju.edu.ar</a></li>
				<li class="nav-item"><a href="mailto:virtual@unju.edu.ar"
					class="nav-link px-2 text-body-secondary" target="blank">virtual@unju.edu.ar</a></li>
				<li class="nav-item"><a href="tel:0388-154708223"
					class="nav-link px-2 text-body-secondary" target="blank">0388-154708223</a></li>
			</ul>
			<p class="text-center text-body-secondary">© 2015-2023 | UNJu
				Virtual - Plataforma de Educación a Distancia (EaD) | Universidad
				Nacional de Jujuy</p>
		</footer>
	</div>
</body>
</html>